{% extends 'base.html.twig' %}

{% block title %}Create New Personal Card{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-group {
            margin-bottom: 1.5rem;
        }

        .btn-submit {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Create New Personal Card</h1>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                <div class="form-group">
                    {{ form_label(form.name, 'Name') }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter name'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.fam, 'Family') }}
                    {{ form_widget(form.fam, {'attr': {'class': 'form-control', 'placeholder': 'Enter family'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.tel, 'Telephone') }}
                    {{ form_widget(form.tel, {'attr': {'class': 'form-control', 'placeholder': 'Enter telephone'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.addr, 'Address') }}
                    {{ form_widget(form.addr, {'attr': {'class': 'form-control', 'placeholder': 'Enter address'}}) }}
                </div>

                <button type="submit" class="btn btn-primary btn-submit">Save</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        // JavaScript for form validation (optional, if needed)
        $(document).ready(function () {
            $('.needs-validation').submit(function (event) {
                if (!this.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                $(this).addClass('was-validated');
            });
        });
    </script>
{% endblock %}
